<div class="title">
  <div class="l_title">
    <img src="../../assets/Main%20Navigation/ZS%20Logo.svg" id="bar_logo" />
    <div id="title_head">Clinical Trial Enrollment Monitoring & Prediction</div>
  </div>
  <div class="r_title">
    <div class="u_name">
      Welcome<br><strong>{{name}}</strong>
    </div>
    <div class="u_logo">
      <a routerLink="/login" onclick="alert('Logout Successful!')"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> </a>
    </div>
    <div class="vr"></div>
    <div class="help">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Help
    </div>
  </div>
</div>
<div class="subnav">
  <div class="subnav_opts">
    <a routerLink="/site" routerLinkActive="a_class"><div class="sub_item">Site Level Study Data </div></a>
    <a routerLink="/model" routerLinkActive="a_class"><div class="sub_item">Modeling & Predictions</div></a>
  </div>
</div>
