.title {
  background: url('../../assets/Main Navigation/white label header.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  justify-content: space-between;
  padding: 0 79px;
}

#bar_logo {
  margin-left: 28px;
}

#title_head {
  font-family: Helvetica;
  font-size: 18px;
  margin-left: 15.16px;
}

.l_title{
  display: flex;
  align-items: center;
}

.r_title {
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-evenly;
  width: 16%;
  margin-right: 20px;
}

.u_logo{
  font-size: 35px;
}


.vr {
  border-left: 1px solid white;
  height: 36.5px;
}

.u_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 35%;
}

.u_logo a{
  text-decoration: none;
  color: white;
  font-weight: lighter;
}


.subnav {
  display: flex;
  height: 38px;
  width: 100%;
  background: white;
  color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;

}

.subnav_opts{
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 73px;
}

a {
  text-decoration: none;
  color: black;
}

.a_class {
  border-bottom:3px solid #ED8B00;
}

.sub_item {
  height: 38px;
  display: flex;
  align-items: center;
}
