body {
  display: flex;
  flex-direction: column;
  background: #B8D4DE;
}

.white_box {
  background: white;
  width: 1318px;
  height: 635px;
  margin: auto;
}

.mod_bod {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

