.bg{
  background: #B8D4DE;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: max-content;


}


.box {
  /*position: absolute;*/
  width: 526px;
  height: 514px;
  margin: 104px 420px;
  background: #FFFFFF;
  /* Popup shadow */

  box-shadow: 1px 3px 3px rgba(105, 105, 105, 0.4);

}

.head{
  display: flex;
  flex-direction: row;
  margin: 150px 120px 21px 102px;
}

.logo {
  height: 55px;
  width: 62.7px;
  margin-left: 10px;
}

#line1 {
  height: 50px;
  border-left: 1px solid #DDDDDD;
  margin: 0 20px;
}

.title {

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  height: 49px;
  width: 210px;
  color: #53565A;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inpdiv {
  height: 34px;
  width: 300px;
  background: #FFFFFF;
  border: 1px solid #CFDDE6;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: flex;

}

.inp {

  height: 32px;
  width: 250px;
  background: #FFFFFF;
  border: none;
  outline: none;
  padding-left: 10px;
}

input::placeholder {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #53565A;
}

textarea:focus {
    outline: none;
}

.logbtn {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  padding: 7px 20px;
  position: relative;
  width: 157px;
  height: 34px;
  justify-content: center;
  background: linear-gradient(360deg, #2B7272 51.79%, #379392 51.93%), #FFFFFF;
  border-radius: 4px;
}

.fa-user {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 20px;
  line-height: 21px;
  color: #118799;
}

.fa-lock {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 20px;
  line-height: 21px;
  color: #118799;
}

.err {
  background-color: mistyrose;
  width: 57%;
  justify-content: center;
  display: flex;
  color: red;
  border: 1px solid red;

}

.succ {
  background-color: darkseagreen;
  width: 57%;
  justify-content: center;
  display: flex;
  color: white;
  border: 1px solid green;

}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
