<div class="bg">
  <div class="box">
    <div class="head">
      <div class="logo"><img src="assets/ZS.svg" width="62.3px" height="55px"></div>
      <div id="line1"></div>
      <div class="title">Clinical Trial Enrollment Monitoring & Prediction</div>
    </div>
    <div class="body" *ngIf="!isAuth">
      <span class="help-block err" *ngIf="error && !uerror" >
        {{errormssg}}
      </span>
      <span class="help-block succ" *ngIf="success">
        {{successmssg}}
      </span>
      <div class="inpdiv" [style.border]="error === true ? '1px solid #FF9494' : null"><input type="email" class="inp" placeholder="Username" name="user" [(ngModel)]="username" (keydown)="onKey($event)" (keydown.enter)="onLogin()" /><i class="fa fa-user" aria-hidden="true"></i></div>
      <span class="help-block err" *ngIf="error && uerror">
        {{errormssg}}
      </span>
      <div class="inpdiv" [style.border]="error === true ? '1px solid #FF9494' : null"><input type="password" class="inp" placeholder="Password" [(ngModel)]="password" (keydown)="onKey($event)" (keydown.enter)="onLogin()" /><i class="fa fa-lock" aria-hidden="true"></i></div>
      <button class="btn btn-primary logbtn" (click)="onLogin()">Log In</button>
    </div>
    <br>
    <div *ngIf="isAuth">
      <img class="loading" src="assets/loading-circle.gif" />
    </div>
    </div>
  <router-outlet></router-outlet>
  </div>

