<body>
<app-header></app-header>
<div class="white_box">
  <div class="site_bod">
    <h3>Hi {{name}}!!</h3>
    <p>Welcome to Site Level Study Data</p>
    <p>E-mail : {{username}}</p>
    <p>Role : {{role}}</p>
  </div>
</div>
</body>

